@import '../../../scss/variable.scss';

.smr_paymentMainDiv {
    background-color: #c0bbb1;
}

.smr_paymentSecondMainDiv {
    margin-inline: 6%;
    background-color: #fff;
}

@media (max-width: 1200px) {
    .smr_paymentSecondMainDiv {
        margin-inline: 1% !important;
    }
}


.smr_PaymentContainer {
    margin-inline: 4%;
    padding-top: 4%;
}

.smr_paymentBackbtnDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    .smr_paymentBackbtn {
        width: 32px;
        height: 32px;
        color: $titleColor;
        cursor: pointer;
    }
}

.smr_paymentDetailMainDiv {
    display: flex;
    justify-content: space-around;
    font-family: $homePageFontFamily;
    color: $titleColor;
}

.smr_paymenttotalpricesummary {
    display: flex;
    justify-content: space-between;
}

.smr_paymenttotalpricesummary p {
    padding: 0;
    margin: 8px;
}

.smr_paymentUserName {
    font-weight: 600;
}

.smr_paymentDetailLeftSideContent {
    h2 {
        font-size: $fontSize6;
    }
}

.smr_paymentButtonDiv {
    text-align: center;

    .smr_payOnAccountBtn {
        margin-right: 20px;
        height: 40px;
        width: 180px;
        font-family: $homePageFontFamily !important;
        font-size: $fontSize3;
        color: $btn1hoverFontColor;
        background-color: $btn1ActivebgColor;
        border: 1px solid $btn1FontColor;
        border-radius: 6px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;

        &:hover {
            color: $btn1hoverFontColor;
            background-color: $btn1ActivebgColor;
        }
    }
}

.smr_backtoTopBtn {
    font-family: $homePageFontFamily;
}

.smr_addorderRemarkbtn {
    color: $titleColor !important;
    font-size: $fontSize2 !important;
    text-transform: capitalize !important;
}

.smr_addorderRemark {
    color: $titleColor !important;
}

@media (max-width: 600px) {
    .smr_paymentDetailMainDiv {
        display: block;
    }

    .smr_paymentButtonDiv {
        .smr_payOnAccountBtn {
            width: 100%;
        }
    }
}

.loader {
    border: 2px solid #f3f3f3;
    border-top: 2px solid #3498db;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    animation: spin 1s linear infinite;
    display: inline-block;
    margin-left: 8px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}