@import '../../../scss/variable.scss';
.smr_OrderModalBox {
    width: 90%;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
  }
  
  @media (max-width: 768px) {
    .smr_OrderModalBox {
      width: 95%;
      max-width: 100%;
      min-width: 0;
    }
  }

  @media (max-width: 474px) {
    .smr_OrderModalBox {
      width: 95% !important;
    }
    .smr_OrderModalBox {
      padding: 20px 8px 20px 8px !important;

      h2 {
          color: $titleColor !important;
          font-size: $fontSize2 !important;
      }

      .smr_projectRemarkBtn-group {

          .smr_remarksave-btn,
          .smr_remarkcancel-btn {
              font-size: $fontSize0 !important;
              padding: 5px 10px !important;
          }
      }
      .smr_orderRemarkMoalInput textarea{
        font-size: $fontSize1 !important;
      }
  }
  }