@import "../../../scss/variable.scss";
.smr_Services_mainDiv_q {
    padding-top: 2rem;
    font-family: 'Arial' !important;
    .mairo2_terms_title{
        font-family: $homePageFontFamily !important;
        font-weight: 600;
    }
}