@import '../../scss/variable.scss';

.smrMo_WlListCard {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;

    .cardContent {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .smr_WlListImage {
        width: 100%;
        object-fit: cover;
        cursor: pointer;
    }

    .cardText {
        flex: 1;
        padding: 10px;
    }
}

.smr_MainWlDiv {
    background-color: $backgroundColor;
    font-family: $homePageFontFamily;
}

.WlMainPageDiv {
    background-color: #fff;
    margin-inline: 6%;
}

@media(max-width:1200px) {
    .WlMainPageDiv {
        margin-inline: 0% !important;
    }
}

.smr_WlMainPage {
    display: flex;
    gap: 30px;
    margin-bottom: -8%;
}

.WlBtnGroupMainDiv {
    text-align: center;
    padding-top: 40px;

    .smr_Wl-title {
        color: $titleColor;
        padding-bottom: 35px;
        font-size: $fontSize8;
    }

    .smr_WlButton-group {
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        margin-bottom: 2rem;

        .smr_ReomoveAllWLbtn {
            display: flex;
            align-items: center;
            margin-inline: 6%;
            font-size: $fontSize1;
            color: $titleColor !important;
            text-decoration-color: $titleColor !important;
        }

        .smr_WlAddToCartBtn {
            font-family: $homePageFontFamily !important;
            background-color: $btn1hoverColor;
            color: $btn1hoverFontColor;
            font-size: $fontSize2;
            border: none;
            outline: none;
            height: 45px;
            border-radius: 5px;
            width: 200px;
            font-weight: 500;
            margin-inline: 6%;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: #666;
            }


            &.smr_cartActivebtn {
                background-color: $btn1ActivebgColor;
                color: $btn1hoverFontColor;
            }
        }
    }
}


.smr_noWishlistData {
    text-align: center;

    .smr_title {
        color: $titleColor;
        font-size: $fontSize6;
    }

    .smr_desc {
        color: $titleColor;
        font-size: $fontSize4;
    }

    .smr_browseOurCollectionbtn {
        background-color: #7d7f85;
        border: none;
        color: #fff;
        font-size: 15px;
        font-weight: 500;
        height: 50px;
        outline: none;
        width: 220px;
    }
}

.smr_WlListData {
    padding: 60px 100px 10px 100px;
}

.smrMo_WlListCard {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
    position: relative;

}

.smr_wishDT {
    font-size: $fontSize1;
    font-family: $homePageFontFamily;
}

.closeWlIconDiv {
    position: absolute;
    top: 0;
    right: 0;
    background: #c9c9c9;
    color: #fff;
}

.closeWlIcon {
    cursor: pointer;
}

.smr_Wl-CartbtnDiv {
    text-align: center;
    margin-bottom: 10px;

    .smr_Wl-Cartbtn {
        width: 150px;
        height: 30px;
        font-size: $fontSize2;
        color: $titleColor;
        font-weight: 500;
        border: none;
        background: none;
        text-transform: capitalize !important;
        cursor: pointer;

        &:hover {
            color: $btn1hoverFontColor;
            background-color: $btn1ActivebgColor;
        }
    }
}

.smr_card-ContentData {
    text-align: center;
    color: $titleColor !important;
    font-size: $fontSize1 !important;
    font-family: $homePageFontFamily;
    padding-bottom: 6px;
}

@media (max-width: 1750px) {
    .WlBtnGroupMainDiv {
        .smr_WlButton-group {
            .smr_WlAddToCartBtn {
                width: 140px;
                font-size: $fontSize1;
            }
        }
    }
    .smr_cardContent {
        padding: 0 !important;

        .smr_pipe {
            margin: 0 5px;
        }

        .cardText {
            padding: 2px;
        }

        .cardText p {
            font-size: $fontSize1 !important;
        }

        .cardText p span {
            font-size: $fontSize1 !important;
        }
    }
}

@media (max-width: 1350px) {
    .WlBtnGroupMainDiv {
        .smr_WlButton-group {
            .smr_WlAddToCartBtn {
                width: 140px;
                font-size: $fontSize1;
            }
        }
    }
    .smr_cardContent {
        padding: 0 !important;

        .smr_pipe {
            margin: 0 5px;
        }

        .cardText {
            padding: 2px;
        }

        .cardText p {
            font-size: $fontSize0 !important;
        }

        .cardText p span {
            font-size: $fontSize0 !important;
        }
    }
}

@media (max-width: 1050px) {
    .WlBtnGroupMainDiv {
        .smr_WlButton-group {
            .smr_WlAddToCartBtn {
                width: 140px;
                font-size: $fontSize1;
            }
        }
    }
    .smr_cardContent {
        padding: 0 !important;

        .smr_pipe {
            margin: 0 5px;
        }

        .cardText {
            padding: 2px;
        }

        .cardText p {
            font-size: $fontSize0 !important;
        }

        .cardText p span {
            font-size: $fontSize0 !important;
        }
    }
}


@media (max-width: 798px) {
    .smr_WlListData {
        padding: 10px 10px 10px 10px;
    }

    .smr_card-ContentData .smr_DesignNoTExt .smr_Wl-Cartbtn {
        font-size: $fontSize2 !important;
    }
    .smr_WlListData {
        padding: 10px 10px 100px 10px;
    }

}

@media (max-width: 600px) {
    .smr_WlListData {
        padding: 10px 10px 100px 10px;
    }

    .WlBtnGroupMainDiv {
        .smr_WlButton-group {
            .smr_WlAddToCartBtn {
                width: 120px;
                font-size: $fontSize1;
            }
        }
    }

    .smr_card-ContentData {
        font-size: $fontSize1 !important;
    }

    .smr_DesignNoTExt {
        font-size: $fontSize1 !important;
    }

    .smr_Wl-Cartbtn {
        font-size: $fontSize1 !important;
        text-align: center;
        width: 100% !important;
    }

    .smr_cardContent {
        padding: 0 !important;

        .smr_currencyFont {
            // margin-left: 40px;
        }

        .smr_pipe {
            margin: 0 5px;
        }

        .cardText {
            padding: 2px;
        }

        .cardText p {
            font-size: $fontSize0 !important;
        }

        .cardText p span {
            font-size: $fontSize0 !important;
        }
    }
}

@media (max-width: 320px) {
    .smr_WlListData {
        padding: 10px 10px 10px 10px;
    }

    .WlBtnGroupMainDiv {
        .smr_WlButton-group {
            .smr_WlAddToCartBtn {
                width: 120px;
                font-size: $fontSize1;
            }
        }
    }

    .smr_card-ContentData {
        font-size: $fontSize1 !important;
    }

    .smr_DesignNoTExt {
        font-size: $fontSize1 !important;
    }

    .smr_Wl-Cartbtn {
        font-size: $fontSize1 !important;
        text-align: center;
        width: 100% !important;
    }

    .smr_cardContent {
        padding: 0 !important;

        .smr_currencyFont {
            // margin-left: 40px;
        }

        .smr_pipe {
            margin: 0 5px;
        }

        .cardText {
            padding: 2px;
        }

        .cardText p {
            font-size: $fontSize0 !important;
        }

        .cardText p span {
            font-size: $fontSize0 !important;
        }
    }
}




// skelton scss

.smr_addwishlistSkeltonMainBox {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

    .smr_addwishlistSkelton {
        // width: 345px !important;
        // max-width: 345px !important;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px !important;

        .smr_addwishlistSkelton {
            background-color: #f6f6f6 !important;
        }
    }
}

.smr_addwishlistSkelton {
    height: 450px !important;
}

@media(max-width:650px) {
    .smr_addwishlistSkeltonMainBox {
        gap: 0px !important;
        padding: 0px 10px;
    }

    .smr_addwishlistSkelton {
        height: 300px !important;
    }
}

@media(max-width:942px) {
    .smr_addwishlistSkeltonMainBox {
        gap: 0px !important;
        padding: 0px 10px;
    }

    .smr_addwishlistSkelton {
        height: 300px !important;
    }
}

.smr_pipe {
    margin: 0px 10px;
}