.quotationQuote_Account_MKJ{


.AcountSales>div {
    padding-left: 0;
    padding-right: 0;
}

.salesApiTableQWeb thead tr th:first-child {
    border-top-left-radius: 4px;
}

.salesApiTableQWeb thead tr th:last-child {
    border-top-right-radius: 4px;
}

.salesApiTableQWeb tbody tr:last-child th:first-child {
    border-bottom-left-radius: 4px;
}

.salesApiTableQWeb tbody tr:last-child th:last-child {
    border-bottom-right-radius: 4px;
}

.salesApiTableQWeb .MuiTablePagination-root {
    border-left: 1px solid rgba(224, 224, 224, 1);
    border-right: 1px solid rgba(224, 224, 224, 1);
    border-bottom: 1px solid rgba(224, 224, 224, 1);
}

.salesApiTableQWeb .MuiTablePagination-selectLabel,
.salesApiTableQWeb .MuiTablePagination-displayedRows {
    margin-bottom: 0;
}

.salesApiTableQWeb>.MuiTableContainer-root {
    max-height: 590px;
}

.salesApiTableQWeb>div>table {
    position: relative;
}

.salesApiTableQWeb thead>tr:first-child {
    position: sticky;
    top: 0;
    background-color: rgb(235, 235, 235);
}

.salesApiSectionQWeb svg {
    font-size: 20px !important;
    color: #7d7f85;
}

.salesApiSectionQWeb * {
    font-size: 14px !important;
    line-height: 120%;
}

.muiSmilingRocksBtn {
    border: 1px solid #7d7f85 !important;
}

.muiSmilingRocksBtn:hover {
    background: #fff !important;
    color: #7d7f85;
}

.muiSmilingRocksBtn:hover svg {
    color: #7d7f85 !important;
}

.AllQuoteBtn {
    padding-bottom: 35px;
}

@media(max-width: 768px) {
    .QuotePadSec {
        padding-bottom: 15px !important;
    }

    .AcountSales>div>p>div {
        padding: 15px 10px;
    }



    .salesApiTableQWeb .MuiTablePagination-root {
        padding-bottom: 0 !important;
        max-height: 50px;
        overflow: hidden;
    }

    .salesApiTableQWeb .MuiTablePagination-root .MuiTablePagination-toolbar {
        padding: 0 5px;
    }

    .salesApiTableQWeb .MuiTablePagination-root .MuiInputBase-colorPrimary.MuiTablePagination-input {
        margin-right: 5px;
    }

    .salesApiTableQWeb .MuiTablePagination-root .MuiInputBase-colorPrimary.MuiTablePagination-input div[role="combobox"] {
        padding-left: 0;
        margin-left: -5px;
        padding-right: 20px;
    }

    .salesApiTableQWeb .MuiTablePagination-root .MuiTablePagination-actions {
        margin-left: 5px;
    }

    .salesApiTableQWeb .MuiTablePagination-root .MuiTablePagination-actions button {
        padding-right: 0;
        padding-left: 0;
    }
}
}