@import "../../../scss/variable.scss";

.for_ProductDet_mainDiv {
    .for_ProductDet_div {
        margin-top: 8rem;

        .for_ProductDet_details_container {
            border: 1px solid blue;
            max-width: 82.5rem;
            margin-inline: auto;

            .for_ProductDet_thumb_image_div {
                height: 12rem;
                width: 12rem;
            }

            .for_ProductDet_image_thumb {
                height: 65px;
                width: 65px;
            }



            .for_ProductDet_container_div {
                display: flex;
                align-items: center;
                gap: 45px;

                .for_ProductDet_left_prodImages {
                    border: 1px solid green;
                    flex: 1 50%;

                    .for_slider_container {
                        width: 34rem;
                        position: relative;
                        left: 5.6rem;

                        .for_slick_slider {

                            .for_ProductDet_image_div {
                                width: 100% !important;
                                height: 100%;
                                border: none;
                                outline: none;

                                .for_ProductDet_image {
                                    height: 570px;
                                    outline: none;
                                }
                            }
                        }

                    }
                }

                .for_ProductDet_right_prodDetails {
                    border: 1px solid orange;
                    flex: 1 50%;
                    font-family: $primaryFontFamily;

                    .for_ProductDet_breadcrumbs {
                        font-size: 13px;
                        color: $primaryfontcolor3;
                        font-family: $primaryFontFamily;

                        .for_ProductDet_breadcrumbs {
                            display: grid !important;
                            grid-template-columns: repeat(3, auto);
                            justify-content: left;
                            margin-bottom: 5px;
                        }
                    }

                    .for_ProductDet_title_main_div {
                        display: flex;
                        justify-content: space-between;

                        .for_ProductDet_title_div {
                            display: flex;
                            flex-direction: column;

                            .for_ProductDet_title {
                                color: $homePageFontColor;
                                font-size: 20px;
                                text-transform: uppercase;
                                font-weight: 700;
                            }

                            .for_ProductDet_title_sku {
                                color: $btn1FontColor;
                                text-transform: uppercase;
                                font-size: $fontSize4;
                                font-weight: 600;
                            }
                        }

                        .for_ProductDet_title_wishlist {
                            .for_wishlist_icon {
                                font-size: 26px;
                            }
                        }

                    }


                }
            }
        }

    }
}

.for_slick_thumb {
    position: absolute;
    border: 1px solid red;
    right: 35.4rem;
    bottom: 22.45rem;
    display: flex !important;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin: 0;
    list-style: none;
}