
@import '../../scss/variable';

$generalColor : lightgray;

.main{
    background-color: $primaryColor;
}

.Submain{
    background-color: $generalColor;
}

.smiling_home_index_main{
    background-color: $backgroundColor;
    padding-inline: 6%;
}

.smiling_home_index_Submain{
    background-color: white;
}