@import "../../../../scss/Variable.scss";

.hoq_dynamic_Collections {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $fontTenorSans;
  .Banner {
    width: 100%;
    height: 45vh;
    background-color: rgba(225, 233, 233, 0.192);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 30px 0;
    h1 {
      font-family: $fontDmSans;
      font-weight: 600;
      letter-spacing: 0px;
      color: rgba(255, 255, 255, 0.925);
    }
  }
  .collection_info {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    padding: 25px 0;
    margin-top: 5rem;
    text-align: center;
    h1 {
      font-family: $fontTenorSans;
      font-weight: 600;
      font-size: 35px;
    }
    .para {
      width: 80%;
      padding: 10px 65px;
      p {
        font-size: 17px;
        font-family: $fontDmSans;
        letter-spacing: 0.4px;
        transition: 0.5s ease;
      }
      span {
        cursor: pointer;
        font-size: 16px;
        position: relative;
        font-family: $fontCrimsonTextRegular;
        color: black;
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          border-radius: 4px;
          height: 2px;
          background-color: rgba(247, 240, 230, 0.767);
          left: 0;
          bottom: -2px;
        }
        &::before {
          content: "";
          position: absolute;
          transition: 0.5s ease-in;
          width: 0%;
          height: 2px;
          background-color: black;
          left: 0;
          z-index: 12;
          bottom: -2px;
        }
      }
      &:hover {
        span {
          &::before {
            width: 100%;
          }
        }
      }
    }
  }
  .filter_Bar {
    width: 90%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    .breadcrumb {
      width: 25%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 0;
      padding: 0 15px;
      span {
        font-family: $fontDmSans;
        font-size: 16px;
      }
    }
    .filter_select {
      width: 75%;
      height: 100%;
      justify-content: space-between;
      display: flex;
      align-items: center;
      div {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #d3d3d3;
        border-radius: 4px;
        padding: 5px;
        margin-right: 15px;
        .label {
          font-size: 16px;
        }
        select {
          border: none;
          border-radius: none;
          font-size: 15px;
          background: transparent;
          .option {
            font-size: 12px;
          }
        }
      }
    }
  }
  .filter_section {
    width: 90%;
    margin: 0 auto;
    display: flex;
    height: 100vh;
    background-color: teal;

    .filter_accordian_section {
      width: 20%;
      overflow-y: scroll;
      height: 100vh;
      position: sticky;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      padding: 0 10px;
      gap: 0;
      font-family: $fontDmSans;
      .accordian{
        box-shadow: none;
        margin: 0 ;
        padding: 5px 0;
         .hoq_category_names{
         margin: 0;
         padding: 0;
         }
         .accordian_details_col{
          padding: 0;
          margin: 0;
         .hoq_subCategory_name{
          display: flex;
          margin: 0;
          padding: 5px 10px;
          align-items: center;
          justify-content: space-between;
          &:last-child{
            margin-bottom: 15px;
          }
         }
        }
      }
    }
    .collections_list {
      width: 80%;
      height: 100vh;
      overflow-y: scroll;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      // align-items: center;
      padding-top: 10px;
      padding-bottom: 10px;
      // filter_accordian_section
      .loading_container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 5%;
        }
      }

      .NoProductFound {
        width: 100%;
        height: 100%;
        display: flex;
        background-color: #cfcfcf17;
        align-items: center;
        overflow: hidden;
        justify-content: center;
        border-radius: 5px;
        img {
          width: 18%;
        }
      }

      .C_Card {
        width: 325px;
        height: max-content;
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        border-radius: 4px;
        overflow: hidden;
        margin: 0 2px;
        .hoq_cart_and_wishlist_icon {
          position: absolute;
          top: 0;
          display: flex;
          z-index: 56;
          align-items: center;
          width: 100%;
          right: 0;
          display: flex;
          justify-content: space-between;
          left: 0;
          height: 50px;
        }
        .image {
          width: 315px;
          height: 300px;
          overflow: hidden;
          position: relative;
          .rollup_video {
            position: absolute;
            z-index: 45;
            width: 100%;
            height: 300px;
            top: 0;
            video {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: scale-down;
            border: none;
            transition: 0.3s ease;
          }
        }
        .det {
          width: 100%;
          height: 100px;
          display: flex;
          align-items: center;
          flex-direction: column;
          text-align: center;
          font-family: $fontCrimsonTextRegular;
          overflow: hidden;
          padding: 8px 0px;
          h2 {
            font-size: 19px;
            font-weight: 400;
            color: #7d7f85;
            padding: 0;
            width: 100%;
            height: auto;
            display: -webkit-box;
            text-align: center;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            padding: 2px 10px;
          }
          .jewel_parameter {
            margin-top: -4px;
            display: flex;
            align-items: center;
            color: #7d7f85;
            &:has(span) {
              display: flex;
              gap: 5px;
              letter-spacing: 0.5px;
            }
          }
          .hoq_prod_mtcolr_price {
            color: #7d7f85;
            span {
              color: #7d7f85;
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  .pagination-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    .pagination-btn {
      .Mui-selected {
        background-color: #c20000;
        padding: 20px 15px;
        color: white;
      }
    }
  }
}
