$primaryColor : red;

$backgroundColor: #c0bbb1;
$homePageFontFamily: 'FreightDispProMedium-Regular,Times New Roman,serif';
// $homePageFontFamily: 'TTCommons-Medium';
$homePageFontColor: #7d7f85;


$fontSize1: 12px;
$fontSize2: 14px;
$fontSize3: 16px;
$fontSize4: 18px;
$fontSize5: 22px;
$fontSize6: 28px;
$fontSize7: 35px;
$fontSize8:40px;

$titleColor:#7d7f85;

$btn1bgColor:#fff;
$btn1ActivebgColor:#7d7f85;
$btn1FontColor:#7d7f85;
$btn1hoverColor:#7d7f85;
$btn1hoverFontColor:#fff;

