@import '../../../scss/variable.scss';

.for_fineJewel_mainDiv {
    .for_fineJewel_container_div {
        margin-top: 8rem;

        .for_fineJewel_breadcrumbs_div {
            max-width: 100rem;
            margin-inline: auto;
            font-family: $primaryFontFamily;

            .for_fineJewel_breadcrumbs {
                color: #777777;
                font-size: 14px;
                cursor: pointer;

                .for_fineJewel_breadcrumbs_label {
                    &:hover {
                        color: $primaryfontcolor2;
                    }
                }


            }


        }

        .for_fineJewel_banners_div {
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            text-align: unset;

            .for_fineJewel_banner_text_div {
                max-width: 100rem;
                margin-inline: auto;
                margin-top: 8rem;
                font-family: $primaryFontFamily;
                text-align: unset;

                h1 {
                    &:first-child {
                        font-size: 36px;
                        font-weight: 600;
                        line-height: 50px;
                    }

                    &:not(:first-child) {
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 30px;
                        text-transform: uppercase;
                    }
                }

                span {
                    display: block;
                    font-size: 38px;
                    font-weight: 600;
                    text-transform: capitalize;
                }

                .for_fineJewel_para {
                    // width: 100%;

                    .for_fineJewel_para_p {
                        font-size: 15px;
                        line-height: 25px;
                        margin-bottom: 1rem;
                        width: 30%;
                        font-weight: 500;
                    }
                }

                .for_fineJewel_btn_div {
                    .for_finrJewel_btn {
                        background: transparent;
                        text-transform: uppercase;
                        padding: 7px 30px;
                        font-size: $fontSize3;
                    }
                }

            }


        }
    }
}