@import "../../../../scss/elvee_modules.scss";

.mainAffiliDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brandsCompoents {
    color: rgba(29, 50, 88, 0.8) !important;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 2px;
    margin: 50px 0px 65px 0px !important;
    font-family: $fontSansSerif;
}

.brandsComponentClass {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    margin-block: 4rem;
}

.affilitionImg {
    object-fit: contain;
    width: 10%;
}

.elv_AffiliationComponents {
    color: rgba(29, 50, 88, 0.8) !important;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 2px;
    margin: 80px 0px 60px 0px !important;
    font-family: $fontSansSerif;
}

.elv_affi_cards {
    width: 18rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (min-width: 446px) and (max-width: 768px) {
    .brandsComponentClass {
        width: 100%;
        overflow: auto;
        display: flex !important;

        &::-webkit-scrollbar {
            display: none;
        }

        justify-content: start !important;
    }

    .AffiliationClassComponents {
        width: 100%;
        overflow: auto;
        display: flex !important;
        justify-content: start !important;
    }

    .AffiliationComponents {
        margin: 50px 0px 20px 0px !important
    }

    .mainAffiliDiv {
        display: block !important;
        text-align: center;
    }

    .affilitionImg {
        width: 17% !important;
        margin-right: 20px !important;
    }

    .brandsCompoents {
        font-size: 16px;
    }

    /* .elv_affi_cards {
        width: 21rem;
    } */
}


@media (max-width: 445px) {
    .brandsComponentClass {
        width: 100%;
        overflow: auto;
        display: flex !important;
        justify-content: start !important;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    /* .elv_affi_cards {
        width: 2rem;
    } */

    .AffiliationClassComponents {
        width: 100%;
        overflow: auto;
        display: flex !important;
        justify-content: start !important;
    }

    .AffiliationComponents {
        margin: 50px 0px 20px 0px !important
    }

    .mainAffiliDiv {
        display: block !important;
        text-align: center;
    }

    .affilitionImg {
        width: 25% !important;
        margin-right: 20px !important;
    }

    .brandsCompoents {
        font-size: 16px;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .brandsComponentClass {
        width: fit-content;
    }

    .affilitionImg {
        margin-right: 50px !important;
    }
}

@media (max-width: 375px) {
    .elv_affi_cards {
        width: 100%;
    }
}

@media (max-width: 320px) {
    .elv_affi_cards {
        width: 100%;
    }
}

.mySwiper_affli {
    margin-inline: 4%;
}