.smr_funfact_FooterTopMain {

    background-color: #c0bbb1;

    .smr_funfact_FooterTopMain_sub{
        background-color: white;
        margin-inline: 6%;
    }
    li {
        list-style: none;
    }

    ul {
        list-style-type: none;
    }

    .container2 {
        margin-inline: 15%;
    }
}