@import '../../../scss/variable.scss';



@media (max-width: 1200px) {
    .dt_PaymentContainer {
        margin-inline: 10% !important;
    }
}


.dt_PaymentContainer {
    margin-inline: 20%;
    padding-top: 80px;
}

@media (max-width: 800px) {
    .dt_PaymentContainer {
        margin-inline: 2% !important;
    }
  }

.dt_paymentBackbtnDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    .dt_paymentBackbtn {
        width: 32px;
        height: 32px;
        color: $btn1bgColor;
        cursor: pointer;
    }
}

.dt_paymentDetailMainDiv {
    display: flex;
    justify-content: space-around;
    font-family: $homePageFontFamily;
    color: $titleColor;
}

.dt_paymenttotalpricesummary {
    display: flex;
    justify-content: space-between;
}

.dt_paymenttotalpricesummary p {
    padding: 0;
    margin-bottom: 5px;
    font-size: $fontSize2;
}

.dt_paymenttotalpricesummary p span {
    font-weight: bold !important;
}

.dt_paymentUserName {
    font-weight: 600;
}

.dt_paymentDetailLeftSideContent {
    h2 {
        font-size: $fontSize6;
    }
}

.dt_paymentButtonDiv {
    text-align: center;

    .dt_payOnAccountBtn {
        margin-right: 20px;
        height: 40px;
        width: 180px;
        font-family: $primaryFontFamily !important;
        font-size: $fontSize3;
        color: $btn1FontColor;
        background-color: $btn1bgColor;
        border: 1px solid $btn1bgColor;
        border-radius: 6px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;

        &:hover {
            color: $btn1bgColor;
            background-color: $btn1FontColor;
        }
    }
}

.dt_backtoTopBtn {
    font-family: $homePageFontFamily;
}

.dt_addorderRemarkbtn {
    color: $titleColor !important;
    font-size: $fontSize2 !important;
    text-transform: capitalize !important;
}

.dt_addorderRemark {
    color: $titleColor !important;
}

@media (max-width: 600px) {
    .dt_paymentDetailMainDiv {
        display: block;
    }

    .dt_paymentDetailLeftSideContent {
        h2 {
            font-size: $fontSize5 !important;
        }
    }

    .dt_paymenttotalpricesummary p {
        margin: 3px !important;
    }

    .dt_billingAddress {
        h3 {
            font-size: $fontSize4 !important;
        }

        p {
            font-size: $fontSize1 !important;
        }
    }

    .dt_paymentButtonDiv {
        .dt_payOnAccountBtn {
            width: 100%;
        }
    }

    .dt_shippingAddress {
        margin-top: 10px;
        margin-bottom: 40px !important;
        border-top: 1px solid #cccdce;

        h3{
            font-size: $fontSize4 !important;
        }
        p{
            font-size: $fontSize1 !important;
            margin-bottom: 5px !important; 
        }
    }

    .dt_paymentBackbtnDiv {
        .dt_paymentBackbtn {
            width: 22px !important;
            height: 22px !important;
        }
    }
}

.loader {
    border: 2px solid #f3f3f3;
    border-top: 2px solid $btn1bgColor;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    animation: spin 1s linear infinite;
    display: inline-block;
    margin-left: 8px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.dt_billingAddress p {
    margin-bottom: 5px;
    font-size: $fontSize2;
}

.dt_shippingAddress p {
    margin-bottom: 0px;
}