@import '../../scss/variable.scss';

.smrMo_DialogBtn {
  color: $titleColor !important;
}

.smrMo_dialogTitle {
  color: $titleColor !important;
}

@media(max-width:890px) {
  .smrMo_dialogTitle {
    font-size: $fontSize3 !important;
  }

  .smrMo_dialogContentText {
    font-size: $fontSize1 !important;
  }

  .smrMo_dialogContent {
    padding: 0px 24px 10px 24px !important;
  }
    .smrMo_DialogBtn{
      font-size: $fontSize2 !important;
    }
}