@import "../../../scss/variable";

.smr_bodyContain {
  background-color: $backgroundColor;
  height: 100%;
  width: 100%;
}

.smr_outerContain {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

.smr_whiteInnerContain {
  background-color: #fff;
  margin-inline: 6%;
  width: 100%;
}

.smr_prodSorting {
  display: flex;
//   justify-content: flex-end;
  font-family: "Rubik", sans-serif;
  width:100%;
}

.empty_sorting_div{
  display: flex;
  width:25%;
}

.smr_main_sorting_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:75%;
    margin:15px 70px 0px 15px
}

.container {
  display: flex;
  align-items: baseline;
  border-bottom: 1px solid $primaryBorderColor;
  width: auto;
//   margin-right: 65px;
//   margin-top: 10px;
}

.label {
  font-size: 12px;
  color: $primaryfontcolor;
}

.select {
  width: auto;
  min-width: 120px;
  height: 27px;
  border: none;
  outline: none;
  font-size: 12px;
  color: $primaryfontcolor;
  display: flex;
  justify-content: center;
}

.option {
  font-size: 12px;
  color: $primaryfontcolor;
  display: flex;
  justify-content: center;
//   padding: 12px;
//   width:120px;
}

// main portion of product and filter

.smr_mainPortion {
  width: 100%;
  display: flex;
}

.smr_filter_portion {
  width: 25%;
  font-family: $primaryFontFamily;
}
.smr_filter_text {
  font-weight: bold;
  font-family: $primaryFontFamily;
  color: $primaryfontcolor;
  display: flex;
  justify-content: space-between;
}

.smr_productList {
  width: 75%;
  display: flex;
  align-items: baseline;
  margin: 20px 50px 0px 0px;
  flex-direction: column;
}

.smr_outer_portion {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.smr_breadcums_port {
  position: absolute;
  top: -40px;
  z-index: 999;
  font-family: $primaryFontFamily;
  font-size: 0.8rem;
  color: $primaryfontcolorLight;
}

.smr_inner_portion {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  // justify-content: end;
}

.smr_productCard {
  width: 32.8%;
  border: 1px solid $primaryBorderColor;
  text-align: center;
  color: $primaryfontcolor;
  position: relative;
  z-index: 0;
  font-family: $primaryFontFamily;
}

.cart_and_wishlist_icon {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1111111;
}

.smr_productCard_Image {
  object-fit: cover;
  background-position: 50%;
  background-size: cover;
  height: 412px;
  min-height: 412px;
  width: 100%;
}

.smr_prod_Title {
  // padding-bottom: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $primaryFontFamily;
}
.smr_prod_title_with_width {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 5px;
  min-height: 19.5px;
  // width: 300px;
  margin: 3px;
  max-height: 3em;
  /* Adjust as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.5px;
}

.smr_prod_title_with_no_width {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 5px;
  min-height: 19.5px;
  /* width:300px; */
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.5px;
}

.smr_prod_designno {
  font-size: 14px;
  font-weight: 400;
  padding: 0px 5px;
}

.smr_prod_Allwt {
  display: flex;
  // flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-inline: 30px;
  gap: 3px;
  font-family: $primaryFontFamily;
}

.smr_por {
  display: flex;
  // align-items: center;
  flex-direction: column;
}

.smr_prod_wt {
  display: flex;
  gap: 2px;
}

.smr_keys {
  font-size: 12px;
}

.smr_val {
  font-size: 12px;
  font-weight: 400;
}

.smr_prod_mtcolr_price {
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  gap: 3px;
  font-family: $primaryFontFamily;
  padding: 7px;
  align-items: baseline;
}
.smr_price {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $primaryfontcolor;
  gap: 2px;
  font-size: 14px;
  // font-weight: 600;

  // .smr_currencyFont{

  // }
  // .smr_pricePort{

  // }
}

.smr_mui_checkbox_label {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: row-reverse;
  font-family: $primaryFontFamily;
}

.MuiTypography-root.MuiTypography-body1.MuiFormControlLabel-label.MuiTypography-root {
  font-family: $primaryFontFamily;
  color: $primaryfontcolor;
  // font-size: 12px;
}

.smr_prod_datanotfound {
  font-family: $primaryFontFamilyMedium;
  color: $primaryfontcolor;
  font-size: 28px;
}

.filtercategoryLable {
  color: $primaryfontcolor;
  border-radius: 0;
}

.smr_metal_custom{
    border-bottom: 1px solid #e1e1e1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.smr_dia_custom{
    border-bottom: 1px solid #e1e1e1;
    display: flex;
    align-items: center;
    justify-content: center;
}


.smr_cs_custom{
    border-bottom: 1px solid #e1e1e1;
    display: flex;
    align-items: center;
    justify-content: center;

}

.smr_product_label{
  position: absolute;
  top: 45px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
}

.smr_instock{
  background-color: #00800045;
  color: black;
  padding: 0px 5px;
}

.smr_bestSeller{
  background-color: #bc000075;
  color: white;
  padding: 0px 5px;
}

.smr_intrending{
  background-color: khaki;
  color: black;
  padding: 0px 5px;
}

.smr_newarrival{
  background-color: lightskyblue;
  color: black;
  padding: 0px 5px;
}

// .smr_shorcutCustomization{
//     border:1px solid #d9d9d9;
//     // margin-inline:5%;
//     width: 98.7%;
// }

@media screen and (max-width: 1441px) {
  .smr_whiteInnerContain {
    margin-inline: 2%;
  }
}
