// Google fonts
@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
// Fonts familys

@font-face {
  font-family: "CrimsonText Regular";
  src: url("../fonts/CrimsonText-Regular.ttf");
  // format('truetype');
}

@font-face {
  font-family: "CrimsonText Medium";
  src: url("../fonts/CrimsonText-SemiBold.ttf");
  // format('truetype');
}

@font-face {
  font-family: "CrimsonText Bold";
  src: url("../fonts/CrimsonText-Bold.ttf");
  // format('truetype');
}

// Fonts
$fontCrimsonTextRegular: "CrimsonText Regular", serif;
$fontCrimsonTextMedium: "CrimsonText Medium", serif;
$fontCrimsonTextBold: "CrimsonText Bold", serif;
$fontDmSans: "DM Sans", Arial;
$fontTenorSans: "Tenor Sans", sans-serif;

// Font -sizes
$fontSize0: 10px;
$fontSize1: 12px;
$fontSize2: 14px;
$fontSize2-5: 15px;
$fontSize3: 16px;
$fontSize4: 18px;
$fontSize5: 22px;
$fontSize6: 28px;
$fontSize7: 35px;
$fontSize8: 40px;
