.btn_for_new {
  border-radius: 2px;
  font-family: "Josefin-sans", sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  position: relative;
  display: inline-block;
  outline: none;
}

.btn_15 {
  background: white;
  border: 1px solid black;
  z-index: 1;
  color: black;
}
.btn_15:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: black;
  transition: 0.3s ease-in-out;
}
.btn_15:hover {
  color: #fff;
}
.btn_15:hover:after {
  left: 0;
  width: 100%;
}
