@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap');

$backgroundColor: var(--background-color);
$btn1bgColor: #fff;
$btn1ActivebgColor: #7d7f85;

$primaryfontcolor: #5f5f5f;
$primaryfontcolor2: #212529;
$primaryfontcolor3: #484848;
$homePageFontColor: #5f5f5f;
$titleColor: #565656;
$ProjectActiveColor:#ffdfdf;


$btn1FontColor: #1b1b1b;
$btn1hoverColor: #1b1b1b;
$btn1hoverFontColor: #fff;

$primaryfontcolorLight: #7d7f856e;


$primaryFontFamily: "Nunito", sans-serif;

//fontSize
$fontSize0: 10px;
$fontSize1: 12px;
$fontSize2: 14px;
$fontSize3: 16px;
$fontSize4: 18px;
$fontSize5: 22px;
$fontSize6: 24px;
$fontSize7: 28px;
$fontSize8: 35px;
$fontSize9: 40px;

//borderColor
$primaryBorderColor: #e1e1e1;
$primaryBorderColor2: #42424233;