@import "../../../scss/variable";

.dt_album1_container {
    .smr_ablbumtitleDiv {
        text-align: center;
        padding: 1% 0px 1% 0px;

        .smr_albumtitle {
            font-size: 28px;
            color: #7d7f85;
            font-family: $homePageFontFamily;
        }
    }

    .tabs {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            padding: 4px 20px;
            margin: 0 5px;
            border: none;
            border-radius: 20px;
            font-size: $fontSize1;
            color: $titleColor;
            background: none;
            cursor: pointer;

            &.active {
                background-color: #f5f5f5;
                color: $titleColor;
            }
        }
    }

    .swiper-container {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        animation: fadeIn 1s forwards;
        opacity: .5;

        @keyframes fadeIn {
            to {
                opacity: 1;
            }
        }

        .swiper-slide-custom {
            min-width: 320px;
        }


        .design-slide {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            padding: 20px;
            background-color: $homePageColor;

            img {
                width: 100%;
                height: 100%;
            }

            .design-info {
                margin-top: 10px;
                text-align: start;

                .smr_album1Titleline {
                    font-size: $fontSize1;
                    color: $titleColor;
                    padding: 0;
                    margin: 0;
                    text-align: start;
                    letter-spacing: .5px;
                    max-height: 80px;
                    height: 40px; 
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 220px;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    box-sizing: border-box;
                }
                
                

                .smr_album1price {
                    font-size: $fontSize2;
                    font-family: $primaryFontFamily;
                    letter-spacing: .5px;
                    color: $titleColor;
                    font-weight: bold;
                    padding: 0;
                    margin: 0;
                    text-align: start;
                }
            }
        }

        .swiper-button-prev,
        .swiper-button-next {
            background-color: #b7b7b7;
            color: #fff;
            padding: 10px;
            border-radius: 50%;
            z-index: 12;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:after {
                font-size: 16px;
            }
        }
        .swiper-button-disabled {
            opacity: 0.5;
            cursor: not-allowed;
            pointer-events: none;
            background-color: #ababab;
        }
    }
}