@import '../../../scss/variable';

.smr_alubmMainDiv {

    .smr_AlbumImageMain {
        height: fit-content;
        width: 20%;
        margin: 5px;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    }

    .smr_albumTitle {
        color: $homePageFontColor;
        font-family: $homePageFontFamily;
        font-size: $fontSize5;
        text-align: center;
        margin-top: 10px;
    }

    .smr_albumViveAll{
        color: $homePageFontColor;
        font-family: $homePageFontFamily;
        font-size: $fontSize4;
        text-align: center;
        margin-top: 20px;
        text-decoration: underline;
        cursor: pointer;
        width: fit-content;
    }

    .smr_albumName {
        color: $homePageFontColor;
        font-family: $homePageFontFamily;
        margin: 0px 0px 10px 0px;
        text-align: center;
    }

    .smr_AlbumImageMain_img {
        width: 100%;
        object-fit: contain;
        height: 300px;
    }

    .smr_albumALL_div {
        display: flex;
        justify-content: center;
    }

    @media screen and (max-width: 1200px) {
        .smr_AlbumImageMain_img {
            height: auto !important;
        }
    }

    @media screen and (max-width: 1000px) {
        margin-inline: 10px !important;


    }


    @media screen and (max-width: 650px) {
        .smr_albumTitle {
            display: none;
        }

        .smr_albumALL_div {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
        }

        .smr_AlbumImageMain {
            width: 47% !important;
        }

        .smr_AlbumImageMain{
            margin: 2px!important;
        }
    }
}