@import "../../../scss/variable.scss";

.giva_filter_menu_style {
  width: 92%;
  height: auto;
  margin: 0 auto;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: $primaryFontFamilyMedium !important;
  border-bottom: 1px solid gray;

  .flex_giva_menu {
    display: flex;
    flex: 1;
    height: 50px;
    align-items: center;
    gap: 2rem;
    position: relative;
    .fmg_menu {
      color: gray;
      font-size: 22px;
      font-weight: 400;
      font-family: $primaryFontFamilyMedium !important;
    }
  }
  .flex_giva_right_menu {
    display: flex;
    flex: 0.4;
    height: 60px;
    align-items: center;
    gap: 15px;
  }
  .giva_filter_menu_list {
    display: flex;
    position: absolute;
    top: 45px;
    gap: 8px;
    z-index: 99999;
    flex-direction: column;
    // border: 2px solid rgba(173, 173, 173, 0.219);
    width: 300px;
    overflow-y: auto;
    max-height: 60vh;
    height: auto;
    overflow-x: hidden;
    background-color: #fff;
    padding: 8px 2px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    .giva_menu {
      position: relative;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      padding: 0 4px;
      width: 100%;
      .giva_menu_title {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0;
        padding: 0;
        // color: rgb(87, 87, 87);
        font-family: $primaryFontFamilyMedium !important;
        .giva_expand_icon {
          font-size: 25px;
          color: rgba(173, 173, 173, 0.87);
        }
      }
      .giva_menu_options {
        display: flex;
        flex-direction: column;
        padding: 0 4px;
        width: 100%;
        .giva_options_flex {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin: 0 !important;
          padding: 3px 2px !important;
        }
      }
    }
  }
}
