.plm_container{

  .plm_title{
    color: #989898 !important;
    font-size: 20px;
    margin: 20px 0 20px 0 !important;
  }

  .center_plm{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .margin_plm{
    margin: 10px;
  }

  .custom-dropzone {
    border: 2px dashed #aaaaaa;
    background-color: #f8f8f8;
    padding: 20px;
    cursor: pointer;
  }
  
  .custom-dropzone-text {
    margin-top: 20px;
    color: #666666;
  }
  
}