@import '../../scss/variable';

$generalColor : lightgray;

.Submain {
}

.for_home_index_main {
    background-color: white ;
}

.for_home_index_Submain {
    background-color: white;
    // margin-top: 115px;
}

.authFlowBakcColor {
}

.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    bottom: 0;
}
