

.smr_bestSallerMain{


    .smr_BestSallerMainImage{
        width: 33.33%;
        padding: 5px;
    }

    .smr_BestSallerMainSub{
        display: flex;
        width: 100%;
    }
    .smr_BestSallerMainImage_img{
        width: 100%;
    }

    .smr_bestSallerSliderMin{
        width: 66.66%;
    }
    .smr_Slider{
        width: 100%;
    }
    .smr_Slider_main{
        width: 100%!important;
        display: flex!important;
    }
    .smr_Slider_main1{
        width: 50%;
    }

    .smr_Slider_main2{
        width: 50%;
    }
    .smr_Slider_main_image{
        width: 100%;
    }
    .smr_Slider_main1_desc{
        margin: 5px;
    }
    .smr_Slider_main1_price{
        margin: 5px;
        font-weight: 500;
    }
}