.smr_OrderModalBox {
    width: 90%;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
  }
  
  @media (max-width: 768px) {
    .smr_OrderModalBox {
      width: 95%;
      max-width: 100%;
      min-width: 0;
    }
  }

  @media (max-width: 474px) {
    .smr_OrderModalBox {
      width: 95% !important;
    }
  }