@import "../../../scss/Variable.scss";

.hoq_main_CategoryTab {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  .header {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: $fontTenorSans;
    color: black;
    h1 {
      font-weight: 500;
      font-size: 20px;
      letter-spacing: 0.2px;
    }
  }
  .category_row {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 0;
    border-radius: 2px;
    gap: 2rem;
    margin-bottom: 2rem;
    .c_card {
      width: 330px;
      height: 375px;
      position: relative;
      overflow: hidden;
      text-align: center;
      .image {
        overflow: hidden;
        width: 330px;
        height: 340px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &:hover {
        img {
          transition: 0.2s ease-in;
          scale: 1.03;
        }
      }
      .title {
        font-family: $fontCrimsonTextMedium;
        height: 40px;
        h2 {
          font-size: 20px;
          font-weight: 500;
          margin-top: 10px;
        }
      }
    }
  }
  .shape_category_row {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 0;
    border-radius: 2px;
    .s_card {
      width: 150px;
      padding: 10px 0;
      height: auto;
      position: relative;
      overflow: hidden;
      text-align: center;
      display: flex;
      align-items: center;
      flex-direction: column;
      .image {
        width: 75px;
        height: 75px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          &:hover {
            scale: 1.07;
            transition: 0.4s ease-in;
          }
        }
      }
      .title {
        font-family: $fontCrimsonTextMedium;
        h2 {
          font-size: 17px;
          font-weight: 500;
          color: black;
        }
      }
    }
  }

  @media screen and (max-width: 1520px) {
    .category_row {
      gap: 0.5rem;
      padding: 0 5px;
      .c_card {
        width: calc(340px - 10px);
        height: 375px;
        margin: 10px;
        .image {
          overflow: hidden;
          width: 350px;
          height: 340px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
  @media screen and (max-width: 1256px) {
    .category_row {
      flex-wrap: wrap;
      padding: 0 8rem;
      .c_card {
        width: calc(350px - 10px);
        height: 375px;
        .image {
          overflow: hidden;
          width: 350px;
          height: 330px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
  // @media screen and (max-width: 1200px) {
  //   .category_row {
  //     gap: 1rem;
  //     .c_card {
  //       width: 250px;
  //       height: 300px;
  //       .image {
  //         width: 100%;
  //         height: 250px;
  //         img {
  //           width: 100%;
  //           height: 100%;
  //           object-fit: cover;
  //         }
  //       }
  //     }
  //   }
  //   .shape_category_row {
  //     gap: 1em;
  //     .s_card {
  //       width: 70px;
  //       padding: 10px 0;
  //       font-size: 16px;
  //       .image {
  //         width: 65px;
  //         height: 65px;
  //         img {
  //           width: 100%;
  //           height: 100%;
  //           object-fit: cover;
  //         }
  //       }
  //       .title {
  //         h2 {
  //           font-size: 14px;
  //         }
  //       }
  //     }
  //   }
  // }
  // @media screen and (max-width: 1086px) {
  //   .category_row {
  //     gap: 1rem;
  //     flex-wrap: wrap;
  //     .c_card {
  //       width: calc(350px - 10px);
  //       height: 375px;
  //       .image {
  //         overflow: hidden;
  //         width: 350px;
  //         height: 330px;
  //         img {
  //           width: 100%;
  //           height: 100%;
  //           object-fit: cover;
  //         }
  //       }
  //     }
  //   }
  // }
  @media screen and (max-width: 1000px) {
    .category_row {
      gap: 1rem;
      flex-wrap: wrap;
      padding: 0;
      .c_card {
        width: 300px;
        height: 375px;
        .image {
          overflow: hidden;
          width: 350px;
          height: 330px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    .category_row {
      gap: 0.8rem;
      .c_card {
        width: 330px;
        height: 370px;
        .image {
          width: 330px;
          height: 330px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
    .shape_category_row {
      gap: 1em;
      .s_card {
        width: 60px;
        padding: 10px 0;
        font-size: 16px;
        .image {
          width: 45px;
          height: 45px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .title {
          h2 {
            font-size: 14px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 427px) {
    .category_row {
      gap: 0.8rem;
      padding: 0 5px;
      .c_card {
        width: 80%;
        height: 350px;
        margin: 5px !important;
        .image {
          width: 100%;
          height: 320px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
    .shape_category_row {
      flex-wrap: nowrap;
      overflow-x: auto;
      gap: -2rem;
      justify-content: flex-start;
      padding: 10px 5px;
      .s_card {
        min-width: 80px;
        width: auto;
        padding: 10px 0;
        .image {
          width: 90px;
          height: 70px;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
      &::-webkit-scrollbar {
        width: 20%;
        height: 4px;
        background-color: transparent;
        opacity: 0;
        transition: opacity 0.3s ease;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(59, 59, 59, 0.164);
        border-radius: 3px;
        opacity: 0;
      }
    }
  }
  @media screen and (max-width: 375px) {
    .category_row {
      gap: 0.8em;
      padding: 0;
      .c_card {
        width: 150px;
        height: 180px;
        .image{
          width: 100%;
          height: 145px;
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
  @media screen and (max-width: 316px) {
    .category_row {
      gap: 0.8em;
      padding:  0 7px;
      .c_card {
        width: 100%;
        height: 270px;
        margin: 0 !important;
        .image{
          width: 100%;
          height: 240px;
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}
