.smrMA_menuPageMain {

    .smrMA_menuVieAllLink{
        text-decoration: underline;
        background-color: transparent;
        border: none;
    }

    .tabMainSmilingMobile .MuiTabs-indicator {
        background-color: black !important;
    }
}