@import "../../../scss/variable";

.mala_Footer1_main {
  background-color: #f8f5f3;
  padding: 80px 20px;
   .mala_footer_bottom_line{
    text-align: center;
   }
  .footerBottomMain {
    display: flex;
    align-items: start;
    justify-content: center;
    .mala_FooterLogo_div {
      flex: 1;
      display: flex;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    .mala_footerOptions {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
   
    .mala_footerIconMain {
      flex: 1;
      display: flex;
      .footerSocialIcon {
        height: 45px;
        width: 45px;
        border: 1px solid #e1e1e1;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 5px;
        img {
          width: 24px;
          height: 24px;
          object-fit: cover;
        }
      }
    }
  }
}
