.dt_newArrivalMain {

    background: #f0e0e0;
    margin-top: 20px;

    .dt_titleNewArrival {
        font-family: "Rosarivo", Sans-serif;
        color: #A8807C;
        text-decoration: uppercase !important;
    }

    .dt_newArrivalPdTitle{
        color: #A8807C;
        font-size: 16px;
        font-weight: 500;
    }

    .dt_newArrivalPdPrice{
        font-size: 15px;
        color: rgb(102, 102, 102);
        margin: 0px;
    }
}